body {
    background-color: gray;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: Arial, Tahoma, Sans-Serif;
    font-size: 13px;
    text-align: center;
}

.texto {
    border: solid 3px black;
    height: 120px;
    margin: 5%;
    width: 55%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
  .texto:hover {
            border-color: red;
         }

button {
    border-radius: 5px;
    background-color: brown;
    border: solid 2px black;
    text-align: center;
    text-align: left;
    padding: 5px;
    margin: -0%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}