                                        body {
                                            background-color: gray;
                                            text-align: center;
                                            padding: 20px;
                                            text-decoration: none;
                                        }

                                        img {
                                            border: solid 5px black;
                                            text-align: center;
                                            text-align: left;
                                        }

                                        img:hover {
                                            border-color: red;
                                        }

                                        header {
                                            font-size: 30px;
                                        }

                                        img:hover {
                                            border-color: red;
                                        }

                                        .inicio {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            width: 200px;
                                            height: 50px;
                                            margin: 20px 5px;
                                            margin: auto;
                                            background-color: rgb(233, 32, 32);
                                            border-radius: 10px;
                                            text-decoration: none;
                                        }

                                        button {
                                            background-color: rgb(233, 32, 32);
                                            border-radius: 5px;
                                        }