            * {
                margin: 0;
                padding: 0;
            }
            
            body {
                background-color: black;
                background-size: cover;
                background-attachment: scroll;
            }
            
            h1 {
                text-align: center;
                background-color: brown;
            }
            
            header {
                background-color: brown;
                margin: 0px 2px 40px;
            }
            
            div {
                border: solid 5px red;
                width: 700px;
                text-align: center;
                margin: auto;
                padding: 10px;
                padding: 30px 20;
            }
            
            .inicio {
                background-color: rgb(182, 47, 47);
            }
            
            button {
                background-color: honeydew;
                border-radius: 10px;
            }